


  <%= link_to event_basket_path(basket.event.id, basket.id, sens: '-1' ), method: :patch, remote: true do %>
  <%= image_tag basket.whishlist.item.icon, class: "icon-selection" %><span class="basket-badge"><%= basket.quantity %></span>
  <br>
  <%= link_to "€", event_basket_update_price_path(@event, basket) %>

    <% if basket.price_in_cent.nil? %>
      <%= puts "Ton #{basket.whishlist.item.name} n'a pas de prix" %>
    <% else %>
      <%= basket.price_in_cent %>
    <% end %>
  <% end %>




