function addChoice() {
  const choiceHTML = "<div class='quantity-css-basket text-center' id='basket-item-id-<%= @basket.id %>'><%= j render "button-choice", basket: @basket %></div>"
  const choice = document.getElementById("basket-item-id-<%= @basket.id %>")
  const basketItem = document.querySelectorAll('.card-items .quantity-css');

  if (choice == undefined) {
    const addNewChoice = document.getElementById("choice-card");
    addNewChoice.insertAdjacentHTML('beforeend', choiceHTML);
  } else {
    choice.outerHTML = choiceHTML
  }
  const whishlistQuantity = document.getElementById("whishlist-item-id-<%= @whishlist.id %>");
  whishlistQuantity.innerHTML = "<%= j render 'whishlist-update', event: @event, whishlist: @whishlist %>";

}

addChoice();

