

<div class="container">
  <h1>Liste de course générale :</h1>
  <ul class="list-inline">
    <% @whishlists.each do |whishlist| %>
      <li>
        <%= image_tag whishlist.item.icon %>
        (<strong><%= whishlist.quantity %></strong> <%= whishlist.item.name %> )
         -
          <%= link_to "Ajouter à ton panier", event_baskets_path(@event, whishlist: whishlist.id), method: :post, remote: true %>
      </li>
    <% end %>
  </ul>


  <h1>Mon panier :</h1>
  <ul class="list-inline" id="choice-card">
    <% @baskets.each do |basket| %>
     <li id="basket-item-id-<%= basket.id %>">
      <%= render 'button-choice', basket: basket %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Retour", event_dashboard_path(@event)%>
</div>
