

<div class="container">
  <h1>Liste de course générale :</h1>
  <ul class="list-inline" id="whishlist-update-card">
    <% @whishlists.each do |whishlist| %>
      <li id="whishlist-item-id-<%= whishlist.id %>">
      <%= render 'whishlist-update', whishlist: whishlist %>
      </li>
    <% end %>
  </ul>


  <h1>Mon panier :</h1>
  <ul class="list-inline" id="choice-card">
    <% @baskets.each do |basket| %>
     <li id="basket-item-id-<%= basket.id %>">
      <%= render 'button-choice', basket: basket %>
    </li>
    <% end %>
  </ul>
  <%= link_to "Retour", event_dashboard_path(@event)%>
</div>
