

<div class="container">
  <h1>Liste de course</h1>


   <div class="card card-items category flex-wrap">
    <% @whishlists.each do |whishlist| %>
      <div id="whishlist-item-id-<%= whishlist.id %>" class="quantity-css text-center">
        <%= render 'whishlist-update', whishlist: whishlist %>
      </div>
    <% end %>
  </div>

  <h1>Mon panier :</h1>

  <div class="card">
    <ul class="list-inline" id="choice-card">
      <% @baskets.each do |basket| %>
       <li id="basket-item-id-<%= basket.id %>">
        <%= render 'button-choice', basket: basket %>
      </li>
      <% end %>
    </ul>
  </div>
    <%= link_to "Retour", event_dashboard_path(@event)%>

</div>
