

<div class="container">
  <h1>Liste de course générale :</h1>
  <ul class="list-inline">
    <% @whishlists.each do |whishlist| %>
      <li>
        <%= image_tag whishlist.item.icon %>
        (<strong><%= whishlist.quantity %></strong> <%= whishlist.item.name %> )
         -
          <%= link_to "Ajouter à ton panier", event_baskets_path(@event, whishlist: whishlist.id), method: :post %>
      </li>
    <% end %>
  </ul>


  <h1>Mon panier :</h1>
  <ul class="list-inline">
    <% @baskets.each do |basket| %>
     <li>
      <%= link_to event_basket_path(basket.event.id, basket.id, sens: '-1' ), method: :patch, class: "quantity-css" do %>
        <i class="fas fa-minus"></i>
      <% end %>
      <%= image_tag basket.whishlist.item.icon %>
      <%= link_to event_basket_path(basket.event.id, basket.id, sens: '1' ), method: :patch, class: "quantity-css" do %>
        <i class="fas fa-plus"></i>
      <% end %>
       : <strong><%= basket.quantity %></strong> <%= basket.whishlist.item.name %> :
      <%#= link_to "Ajouter un prix", edit_basket_path(@basket) %>
      <%=link_to event_basket_path(basket.event.id, basket.id), method: :delete, data: { confirm: "Do you really want to delete this item ?" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
      <%= link_to "Ajouter un prix", event_basket_update_price_path(@event, basket) %>
      <% if basket.price_in_cent.nil? %>
      <%= puts "Ton #{basket.whishlist.item.name} n'a pas de prix" %>
      <% else %>
      <%= basket.price_in_cent %>
      <% end %>
    <% end %>
    </li>
  </ul>
  <%= link_to "Retour", event_dashboard_path(@event)%>
</div>
