


<!-- <div class="container"> -->
  <div style="width: 100%; height: 28px;"></div>

  <div class="basket-relative">
    <div class="title-absolute">
      <button class="btn-primary btn-basket">Wishlist</button>
    </div>

     <div class="basket-card-css card-items category flex-wrap">
      <% @whishlists.each do |whishlist| %>
        <div id="whishlist-item-id-<%= whishlist.id %>" class="quantity-css-basket text-center">
          <%= render 'whishlist-update', event: @event, whishlist: whishlist %>
        </div>
      <% end %>
    </div>
  </div>




  <div class="text-center" style="margin: -15px 0 -3px 0;">
    <i class="fas fa-caret-down arrow-down"></i>
  </div>

  <div class="basket-relative">
    <div class="title-absolute">
      <button class="btn-primary btn-basket">Mes courses</button>
    </div>

    <div class="basket-card-css card-items category flex-wrap" id="choice-card">
        <% if @baskets.blank? %>
            <p id="empty-basket">Il n'y a rien dans ton panier</p>
            <% end %>
       <% @baskets.each do |basket| %>
          <div class="quantity-css-basket item-basket-padding text-center basket-font-size" id="basket-item-id-<%= basket.id %>">
            <%= render 'button-choice', basket: basket %>
          </div>
      <% end %>
    </div>
  </div>


  <div class="button-center">
    <%= link_to "Valider", event_dashboard_path(@event), :class => "btn btn-info mauve org-meal"%></div>
  </div>



