function updateChoice() {
  const choice = document.getElementById("basket-item-id-<%= @basket.id %>")

  <% if @basket.quantity.zero? %>
    choice.remove();
  <% else %>
    const choiceHTML = "<div class='quantity-css-basket text-center' id='basket-item-id-<%= @basket.id %>'><%= j render "button-choice", basket: @basket %></div>"
    choice.outerHTML = choiceHTML
  <% end %>

  const whishlistQuantity = document.getElementById("whishlist-item-id-<%= @whishlist.id %>");
  whishlistQuantity.innerHTML = "<%= j render 'whishlist-update', event: @event, whishlist: @whishlist %>";
}

updateChoice();
