<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= simple_form_for event do |f| %>
        <%= f.input :title, placeholder: "Titre", label: false, input_html: { class: 'new-form' } %>
        <%#= f.input :description %>
        <%= f.input :address, placeholder: "16 Villa Gaudelet Paris 11", input_html: { id: 'address-input', class: 'new-form' }, label: false  %>
        <%= f.input :date, as: :string, input_html: { class: 'datepicker new-form' }, placeholder: "Sélectionner une date", label: false %>
        <div class="text-center">
          <%= f.submit "Créer", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


