<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= simple_form_for event do |f| %>
        <%= f.input :title, placeholder: "titre", label: false %>
        <%= f.input :description, placeholder: "description", label: false %>
        <%= f.input :address, placeholder: "adresse", input_html: { id: 'address-input' }, label: false  %>
        <%= f.input :date, as: :string, input_html: { class: 'datepicker' }, label: false %>
        <div class="text-center">
          <%= f.submit "Créer ton meal", class: 'cta' %>
        </div>
      <% end %>
    </div>
  </div>
</div>


