
<%= render layout: "shared/main_layout", locals: {
  main_title: "C'est l'heure des comptes !",
} do %>

  <div class="card card-account card-account-body">
    <% average = @total/(@guests.count) %>
    <strong> Total : <%= @total %> € (<%= average.to_f.round(2) %>€/ pers)</strong>

    <% if @total == 0 %>
      <div class="nobody-paid"> Personne n'a renseigné le prix de son meal </div>
    <% else %>
      <% @refund_per_person.each do |user, refunds| %>
        <div class="container-account">
          <div class="box-account">
            <% if user.photo.blank?%>
              <%= image_tag "default-user.png", alt: "default user photo", class: "avatar-account", id: "navbar-wagon-menu" %>
            <% else %>
              <%= cl_image_tag user.photo, height: 50, width: 50, crop: :fill, gravity: :face, :radius => "max" %>
            <% end %>
            <p><%= user.nickname %></p>
          </div>

          <% refunds.each do |refund, amount| %>
            <div class="box-account">
              <p><%= amount.to_f.round(2) %>€</p>
              <%= image_tag "balance-arrow.png", alt: "arrow", class: 'balance-arrow' %>
            </div>
            <div class="box-account">
              <% if refund.photo.blank?%>
                <%= image_tag "default-user.png", alt: "default user photo", class: "avatar-account", id: "navbar-wagon-menu" %>
              <% else %>
                <%= cl_image_tag refund.photo, height: 50, width: 50, crop: :fill, gravity: :face, :radius => "max"  %>
              <% end %>
              <p><%= refund.nickname %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="button-center">
  <%= link_to "Retour", event_dashboard_path(@event), :class => "btn btn-info mauve org-meal" %>
  </div>
<% end %>

