
<h1 class="text-center"><%= @event.title %></h1>
<div class="text-center"><em>crée par <%= @event.user.nickname %></em></div>


<%= link_to "#{@event.guests.count + 1} invités", event_guests_path(@event) %>
<p>Description : <%= @event.description %></p>
<p>Addresse : <%= @event.address %></p>
<p>Date | Heure : <%= @event.date.strftime("%d/%m/%Y à %H:%M") %></p>

<% if current_user.guests.first.is_coming %>
  <p>Je participe <i class="fas fa-check-circle"></i></p>
<% else %>
  <p>Je ne participe pas <i class="fas fa-times-circle"></i></p>
<% end %>

<!-- LISTE LES GENS QUI VIENNENT AVEC LEUR BASKET -->

<!-- LES GENS QUI NE VIENNENT PAS NE SERONT PAS AFFICHES ICI, MAIS DANS L'INDEX DES GUESTS VIA UN TAB/ONGLET : "PARTICIPE / NE PARTICIPE PAS"     -->


<h3> Qui ramène quoi :</h3>
<ul>
  <% @event.guests.each do |guest| %>
    <% if guest.is_coming %>
      <li><%#= cl_image_tag guest.user.photo, height: 50, width: 50, crop: :fill %><%= guest.user.nickname %> apportera :</li>

      <ul>
        <% guest.user.baskets.each do |basket| %>
        <li><%= basket.whishlist.item.name %><%= image_tag basket.whishlist.item.icon %></li>
        <% end %>
      </ul>

    <% end %>
  <% end %>
</ul>
<!-- AUTRE TECHNIQUE POUR RECUPERER LE BASKET DE CHAQUE INVITE PAR EVENT -->
<!-- <ul>
  <%# @event.users.each do |user| %>

    <#% if user.guests.where(event_id: params[:event_id]).first.is_coming == true %>

      <li><%#= user.nickname %> apportera : <#%= user.guests.where(event_id: params[:event_id]).first.is_coming %></li>

      <ul>
        <%# user.baskets.each do |basket| %>
        <li><#%= basket.whishlist.item.name %></li>
        <%# end %>
      </ul>
    <%# end %>
  <%# end %>
</ul> -->




<div>
  <p>Total : 93€ </p>
</div>


<%= link_to "Equilibres"%> <br>
<%= link_to "Voir mon panier", event_baskets_path, :class => "btn-medium" %> <br>
<%= link_to "Description de l'event", event_path(@event), :class => "btn-medium" %>
