<%= render layout: "shared/main_layout", locals: {
  main_title: "Infos meal :",
} do %>
  <!-- <h1 class="text-center"><%= @event.title %></h1> -->
  <div class="text-center"><em>crée par <%= @event.user.nickname %></em></div>

  <div class="details-container">
    <div class="event-details">
      <div class="picto"><i class="fas fa-map-marked-alt"></i><p><%= @event.address %></p></div>
      <div class="picto"><i class="fas fa-calendar-alt"></i><p><%= @event.date.strftime("%A %d %B %Y à %H:%M") %></p></div>
      <div class="picto"><i class="fas fa-users faded"></i><p><%= link_to "#{@event.guests.count + 1} invités", event_guests_path(@event) %></p></div>
    </div>
  </div>
  <!-- LISTE LES GENS QUI VIENNENT AVEC LEUR BASKET -->
  <div id="rest-of-content">
    <h4 class="text-center">On ramène quoi?</h4>
        <% @baskets_per_user.each do |user, baskets| %>
          <div class="container-dashboard">
            <div class="box-dashboard">
              <% if user.photo.blank?%>
                <%= image_tag "default-user.png", alt: "alttext", class: "avatar", id: "navbar-wagon-menu" %>
              <% else %>
                <%= cl_image_tag user.photo, height: 50, width: 50, crop: :fill %>
              <% end %>
              <%= user.nickname %>
              <% if user == @event.user %>
                <em>(organisateur)</em>
              <% end %>
            </div>
              <% baskets.each do |basket| %>
            <div class="box-dashboard">
              <%= basket.whishlist.item.name %><%= image_tag basket.whishlist.item.icon %> </div>
              <% end %>
            </div>
          </div>
        <% end %> <hr>
  </div>

  <div class="btn-double">
    <div class="btn btn-info mauve org-meal" id="btn-equilibre"><%= link_to "EQUILIBRES", event_account_path(@event)%></div>
    <div class="btn btn-info mauve org-meal" id="btn-panier"><%= link_to "PANIER", event_baskets_path %></div>
  </div>
<% end %>




<!-- AUTRE TECHNIQUE POUR RECUPERER LE BASKET DE CHAQUE INVITE PAR EVENT -->
<!-- <ul>
  <%# @event.users.each do |user| %>

    <#% if user.guests.where(event_id: params[:event_id]).first.is_coming == true %>

      <li><%#= user.nickname %> apportera : <#%= user.guests.where(event_id: params[:event_id]).first.is_coming %></li>

      <ul>
        <%# user.baskets.each do |basket| %>
        <li><#%= basket.whishlist.item.name %></li>
        <%# end %>
      </ul>
    <%# end %>
  <%# end %>
</ul> -->

