
<h1 class="text-center"><%= @event.title %></h1>
<div class="text-center"><em>crée par <%= @event.user.nickname %></em></div>

<div class="details-container">
  <div class="event-details">
    <p><%= image_tag "calendar.png", alt: "calendar", class: 'small-icon' %> <%= @event.date.strftime("%A %d %B %Y à %H:%M") %></p>
    <p><%= image_tag "house.png", alt: "house", class: 'small-icon' %> <%= @event.address %></p>
    <p><%= image_tag "cutlery.png", alt: "cutlery", class: 'small-icon' %> <%= link_to "#{@event.guests.count + 1} invités", event_guests_path(@event) %></p>
    <% if @event.user == current_user %>
      <p><%= image_tag "chef", alt: "chef-hat", class: 'small-icon' %> Vous êtes l'organisateur</p>
    <% elsif current_user.guests.first.is_coming %>
      <p><i class="fas fa-check-circle"></i> Je participe</p>
    <% else %>
      <p><i class="fas fa-times-circle"></i> Je ne participe pas</p>
    <% end %>
    <p><%= image_tag "info.png", alt: "alttext", class: 'small-icon' %> Description</p>
    <div id="description-details">
      <p class="description-content"><%= @event.description %></p>
    </div>
  </div>
</div>
<!-- LISTE LES GENS QUI VIENNENT AVEC LEUR BASKET -->

<!-- LES GENS QUI NE VIENNENT PAS NE SERONT PAS AFFICHES ICI, MAIS DANS L'INDEX DES GUESTS VIA UN TAB/ONGLET : "PARTICIPE / NE PARTICIPE PAS"     -->
<div id="rest-of-content">
  <h3 class="text-center">On ramène quoi?</h3>

  <ul>
    <% if @event.user.photo.blank?%>
      <%= image_tag "default-user.png", alt: "alttext", class: "avatar", id: "navbar-wagon-menu" %>
    <% else %>
      <%= cl_image_tag @event.user.photo, height: 50, width: 50, crop: :fill %>
    <% end %>
    <%= @event.user.nickname %> <em>(organisateur)</em> apportera :
    <% @event.user.baskets.each do |basket| %>
    <li><%= basket.whishlist.item.name %><%= image_tag basket.whishlist.item.icon %></li>
    <% end %>
  </ul>

  <ul>
    <% @event.guests.each do |guest| %>
      <% if guest.is_coming %>
        <li><%#= cl_image_tag guest.user.photo, height: 50, width: 50, crop: :fill %><%= guest.user.nickname %> apportera :</li>

        <ul>
          <% guest.user.baskets.each do |basket| %>
          <li><%= basket.whishlist.item.name %><%= image_tag basket.whishlist.item.icon %></li>
          <% end %>
        </ul>
      <% end %>
  <% end %>
  <hr>
  <% sum = 0 %>
    <% @baskets.each do |basket| %>
      <% i = basket.price_in_cent %>
        <% if i.nil? %>
          <% i = 0 %>
        <% else %>
      <% sum += i %>
      <% end %>
    <% end %>
  <p>Total de repas :<%= sum %> € </p>


  <%= link_to "Equilibres", event_account_path(@event)%> <br>
  <%= link_to "Voir mon panier", event_baskets_path, :class => "btn-medium" %> <br>
  <%= link_to "Description de l'event", event_path(@event), :class => "btn-medium" %>
</div>
<!-- AUTRE TECHNIQUE POUR RECUPERER LE BASKET DE CHAQUE INVITE PAR EVENT -->
<!-- <ul>
  <%# @event.users.each do |user| %>

    <#% if user.guests.where(event_id: params[:event_id]).first.is_coming == true %>

      <li><%#= user.nickname %> apportera : <#%= user.guests.where(event_id: params[:event_id]).first.is_coming %></li>

      <ul>
        <%# user.baskets.each do |basket| %>
        <li><#%= basket.whishlist.item.name %></li>
        <%# end %>
      </ul>
    <%# end %>
  <%# end %>
</ul> -->

