<div class="container">
  <h2>Modifie ton Happy 1000</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for @event do |f| %>
          <%= f.input :title, label: "Titre" %>
          <%= f.input :description %>
          <%= f.input :address, label: "Adresse"  %>
          <%= f.input :date, as: :string, input_html: { class: 'datepicker' } %>
          <%= f.submit "Modifier", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
</div>

