<% if current_user.guests.empty? && current_user.events.empty?  %>

  <h2 class="text-center mauve">Vous n'avez aucun meal pour le moment</h2>
  <div class="text-center">
    <%= image_tag "happy_sad.png", alt: "alttext", class: "pan" %>
  </div>
  <div class="text-center">
    <%= link_to "ORGANISER UN MEAL", new_event_path, :class => "btn btn-info mauve" %>
  </div>

<%# else %>

   <!-- <div class="text-center"> -->
     <%#= image_tag "happy_pan.png", alt: "alttext", class: "pan" %>
   <!-- </div> -->
   <!-- <div class="text-center"> -->
     <%#= link_to "Organiser un meal", new_event_path, :class => "btn btn-info mauve" %>
   <!-- </div> -->

<% end %>


<!-- BOUTONS POUR NAVIGER AVEC SLIDER -->
<div class="navbar-icons">
  <div class="nav1 icons selected"><%= image_tag "happy_chef.png", alt: "alttext", class: "happy-chef" %>Mes meals</div>
  <div class="nav2 icons"><%= image_tag "happy_fork.png", alt: "alttext", class: "happy-fork" %>Je participe</div>
<!--   <div class="nav3 icons"><%#= image_tag "happy_waiting.png", alt: "alttext", class: "happy-waiting" %>En attente</div> -->
  <div class="small-square carre1"></div>
  <div class="blanc"></div>
  <%= link_to "organiser un meal", new_event_path, :class => "btn btn-info mauve org-meal org-meal-wrapper" %>

</div>

<!-- <div class="buttons-index">
  <div class="btn btn-primary btn-nav nav1">En attente</div>
  <div class="btn btn-primary btn-nav nav2">Je participe</div>
  <div class="btn btn-primary btn-nav nav3">Mes meals</div>
</div> -->


  <div class="slider-container">
      <%= image_tag "cheese.png", alt: "cheese", id: "cheese-logo"  %>
      <%= image_tag "frying-pan.png", alt: "frying-pan", id: "frying-logo"  %>
      <%= image_tag "broccoli.png", alt: "broccoli", id: "broccoli-logo"  %>
      <%= image_tag "wine.png", alt: "wine", id: "wine-logo"  %>
      <%#= image_tag "carrot.png", alt: "carrot", id: "carrot-logo"  %>
    <div class="slider step1">

      <!-- IF USER IS HOSTING EVENTS -->
      <div class="slide">
        <% if !current_user.events.blank? %>
          <div class="participe">
            <!--           <div class="background"> -->
            <!--             <div class="participation">
              <%#= image_tag "happy_chef.png", alt: "alttext", class: 'happy-chef' %>
              <h3 class="section">Mes meals</h3>
            </div> -->

            <% current_user.events.each do |event| %>
              <div class="container-exterieur">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12 in-front">

                        <div class="card-trip">
                          <%= link_to event_dashboard_path(event), class: 'dashboard-path' do %>
                            <div class="card-photo">
                              <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> -->
                              <div class="card-background">
                                <h2 class="yellow-title"><%= event.title.capitalize %></h2>
                                <div class="card-details">
                                  <h6 class="yellow-details"><i class="far fa-calendar-alt"></i> <%= event.date.strftime("%d/%m/%Y") %></h6>
                                  <h6 class="yellow-details"><i class="far fa-clock"></i> <%= event.date.strftime("%HH%M") %></h6>
                                  <h6 class="yellow-details"><i class="fas fa-users"></i> <%= event.guests.count + 1 %></h6>
                                </div>
                              </div>
                            </div>
                          <% end %>
                          <div class="card-trip-infos">
                            <p>Organisé par <strong><%= event.user.nickname %></strong></p>
                           <!--  <p><em>"<%= event.description %>"</em></p> -->

                            <!-- <%= link_to edit_event_path(event) do %> -->
                              <!-- <i class="fas fa-pencil-alt"></i> -->
                            <!-- <% end %> -->

                            <%= link_to event_path(event), method: :delete, data: { confirm: "Veux-tu vraiment supprimer ce meal ?" } do %>
                              <i class="fas fa-times"></i>
                            <% end %>

                            <% if event.user.photo.blank? %>
                                <%= image_tag "default-user.png", alt: "alttext", class: "card-trip-user2", id: "navbar-wagon-menu" %>
                            <% else %>
                                <%= cl_image_tag event.user.photo, height: 50, width: 50, crop: :fill, gravity: :face, :radius => "max", class: "card-trip-user" %>
                            <% end %>
                            <%#= cl_image_tag event.user.photo, height: 50, width: 50, crop: :fill, gravity: :face, :radius => "max", class: 'card-trip-user' %>
                            <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/> -->
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

          </div>
        <% end %>

      </div>

      <!-- IF USER IS INVITED TO EVENTS -->
      <div class="slide">
        <% if !current_user.guests.blank? %>
          <div class="participe">
              <!--             <div class="background"> -->
              <!-- <div class="participation">
               <%#= image_tag "happy_fork.png", alt: "attending logo", class: 'happy-fork' %>
               <h3 class="section">Je participe</h3>
              </div> -->

              <% current_user.guests.each do |guest| %>
                <div class="container-exterieur">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 in-front">

                          <div class="card-trip">
                            <%= link_to event_dashboard_path(guest.event), class: 'dashboard-path' do %>
                              <div class="card-photo">
                                <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> -->
                                <div class="card-background">
                                  <h2 class="yellow-title"><%= guest.event.title %></h2>
                                  <div class="card-details">
                                    <h6 class="yellow-details"><i class="far fa-calendar-alt"></i> <%= guest.event.date.strftime("%d/%m/%Y") %></h6>
                                    <h6 class="yellow-details"><i class="far fa-clock"></i> <%= guest.event.date.strftime("%HH%M") %></h6>
                                    <h6 class="yellow-details"><i class="fas fa-users"></i> <%= guest.event.guests.count + 1 %></h6>
                                  </div>
                                </div>
                              </div>
                            <% end %>
                            <div class="card-trip-infos">
                              <p>Organisé par <strong><%= guest.event.user.nickname %></strong></p>

                              <!-- <%#= link_to edit_event_path(guest.event) do %>
                                <i class="fas fa-pencil-alt"></i>
                              <%# end %>
                              <%#= link_to event_path(guest.event), method: :delete, data: { confirm: "Veux-tu vraiment supprimer ce meal ?" } do %>
                                <i class="fas fa-trash-alt"></i>
                              <%# end %> -->

                              <% if guest.event.user.photo.blank? %>
                                  <%= image_tag "default-user.png", alt: "alttext", class: "card-trip-user2", id: "navbar-wagon-menu" %>
                              <% else %>
                                  <%= cl_image_tag guest.event.user.photo, height: 50, width: 50, crop: :fill, gravity: :face, :radius => "max", class: "card-trip-user" %>
                              <% end %>
                              <%#= cl_image_tag event.user.photo, height: 50, width: 50, crop: :fill, gravity: :face, :radius => "max", class: 'card-trip-user' %>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <%#= image_tag "cheese.png", alt: "cheese", id: "cheese-logo"  %>
              <%#= image_tag "carrot.png", alt: "carrot", id: "carrot-logo"  %>
            <!--             </div> -->

          </div>
        <% else %>
          <h5 class="text-center" style="margin-top: 20px;">Vous n'avez pas de meals pour le moment</h5>
        <% end %>
      </div>


        <!--       <div class="slide">

        <h4 class="text-center" style="margin-top: 20px;">Vous n'avez aucun meal en attente</h4>
        <div class="participe">
          <div class="background">
              <div class="participation">
               <%#= image_tag "happy_waiting.png", alt: "waiting logo", class: 'happy-waiting' %>
               <h3 class="section">En attente</h3>
              </div>
              <%#= image_tag "wine.png", alt: "wine", id: "wine-logo"  %>
          </div>
        </div>
      </div> -->
    </div>
  </div>






