<!-- <h1 class="text-center">Mes Happy 1000</h1>
 -->

<% if @events.blank? %>
<!-- verifier la condition suivante pour afficher les cartes : current_user.events ET current_user.guests -->

  <p>Tu n'as aucun meal pour le moment</p>
  <p>C'est l'occastion d'organiser un nouveau Happy 1000 !</p>
  <div class="text-center">
    <%= link_to "Organiser un meal", new_event_path, :class => "btn btn-info mauve" %>
  </div>

<% else %>

  <div class="text-center">
    <%= image_tag "happy_pan.png", alt: "alttext", class: "low-opacity medium-size" %>
  </div>
  <div class="text-center">
    <%= link_to "Organiser un meal", new_event_path, :class => "btn btn-info mauve" %>
  </div>

  <div class="participation">
    <%= image_tag "happy_fork.png", alt: "alttext", class: 'happy-fork' %>
    <h3 class="section">Meals auxquels vous participez</h3>
  </div>

  <% @events.each do |event| %>
    <div class="container-exterieur">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

              <div class="card-trip">
                <div class="card-photo">
                  <!-- <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"> -->
                  <div class="card-background">
                    <h2 class="yellow-title"><%= event.title %></h2>
                    <div class="card-details">
                      <h6 class="yellow-details"><i class="far fa-calendar-alt"></i> <%= event.date.strftime("%d/%m/%Y") %></h6>
                      <h6 class="yellow-details"><i class="far fa-clock"></i> <%= event.date.strftime("%HH%M") %></h6>
                      <h6 class="yellow-details"><i class="fas fa-users"></i> <%= event.guests.count + 1 %></h6>
                    </div>
                  </div>
                </div>
                <div class="card-trip-infos">
                  <p>Organisé par <strong><%= event.user.nickname %></strong></p>
                  <p><em>"<%= event.description %>"</em></p>

                  <%= link_to edit_event_path(event) do %>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                  <%= link_to event_path(event), method: :delete, data: { confirm: "Veux-tu vraiment supprimer ce meal ?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                  <%= cl_image_tag event.user.photo, height: 50, width: 50, crop: :fill, gravity: :face, :radius => "max", class: 'card-trip-user' %>
                  <!-- <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/> -->
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<!--     <li><%#= link_to event.title, event_dashboard_path(event) %></li>
 -->

  <div class="participation">
    <%= image_tag "happy_chef.png", alt: "alttext", class: 'happy-chef' %>
    <h3 class="section">Meals que vous organisez</h3>
  </div>

<% end %>


