<h2 class="text-center">Qui sera de la party ?</h2>

<div class="container text-center">
  <div>
  <%= simple_form_for :query, method: :get, html: { class: "form-inline" } do |f| %>
      <%= f.input :nickname, as: :string, placeholder: "Tape le nom de ton petit pote" %>
      <%= f.button :submit, "Rechercher", class: 'btn btn-success' %>
  <% end %>
  </div>

  <br>
  <br>


  <div class="form-check form-check-inline">
    <% @guests.each do |guest|%>
      <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
      <label class="form-check-label" for="inlineCheckbox1">

        <%= guest.nickname %>
        <% if guest.photo.blank? %>
          <%= image_tag "icons/user.png", alt: "alttext" %>
        <% else %>
          <%= cl_image_tag guest.photo, height: 100, width: 100, crop: :fill, radius: 80 %>
        <% end %>
      </label>
    <% end %>
      <button type="submit" class="btn btn-primary">Envoyer l'invit' !</button>
  </div>

  <hr>
  <br>
  <%= link_to "Continuer" %>

</div>



