<h2 class="text-center">Qui sera de la party ?</h2>

<div class="container">

  <div class="form-inline">
    <%= form_tag event_select_guest_path(@event), method: :get do %>
      <%= text_field_tag :query, params[:query], placeholder: "Tape le nom de ton petit pote", class: "form-control"%>
    <% end %>
      <%= image_submit_tag ("search-solid.svg"), class: "form-control btn-primary" %>
  </div>

<!-- DRAFT DYNAMIC CHECKBOXES SANS LE SEARCH - DRAFT DYNAMIC CHECKBOXES SANS LE SEARCH  -->

  <%= simple_form_for :guest_ids, method: :post, url: event_guests_path(@event) do |f|%>
    <div class="form-group">

      <div class="guest-choices">
        <% @guests.each do |guest|%>

          <input class="hidden" type="checkbox" id='<%= "inlineCheckbox#{guest.id}" %>' value='<%= "#{guest.id}" %>' name="guests_ids[]">

          <label for='<%= "inlineCheckbox#{guest.id}" %>'>
            <div class="guest-choice">
              <% if guest.photo.blank? %>
                <%= image_tag "default-user.png",height: 50, width: 50, crop: :fill, radius: 80, alt: "alttext" %>
              <% else %>
                <%= cl_image_tag guest.photo, height: 50, width: 50, crop: :fill, radius: 80 %>
              <% end %>
            </div>

            <div class="text-center">
              <%= guest.nickname %>
            </div>
          </label>
        <% end %>
      </div>

      <div class="text-center">
        <%= f.submit "Envoyer l'invit' !", class: "btn btn-primary" %>
      </div>

    </div>
  <% end %>
</div>



