<div class="container whishlist-container">
  <h2>Qu'as-tu besoin pour ton meal ?</h2>
  <!-- <div class="row card-container">
    <div class="col-xs-6 col-sm-6 col-md-6"> -->
      <div class="card category">
        <ul class="list-inline">
          <p class= "text-center"> Salé </p>
            <% @items.each do |item| %>
              <% if item.category == "salé" %>
                <li>
                  <%= image_tag item.icon %>
                  (<%= item.name %>)

                  <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css", method: :post do %>
                      <i class="fas fa-plus-circle"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
        </ul>
      </div>
  <!--   </div> -->

  <!--   <div class="row card-container">
    <div class="col-xs-6 col-sm-6 col-md-6"> -->
      <div class="card category">
        <ul class="list-inline">
          <p class= "text-center"> Sucré </p>
            <% @items.each do |item| %>
              <% if item.category == "sucré" %>
                <li>
                  <%= image_tag item.icon %>
                  (<%= item.name %>)

                  <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css", method: :post do %>
                      <i class="fas fa-plus-circle"></i>
                  <% end %>
                </li>
              <% end %>
            <% end %>
        </ul>
      </div>
<!--  </div>  -->
      <div class="card category">
              <ul class="list-inline">
                <p class= "text-center"> Soft </p>
                  <% @items.each do |item| %>
                    <% if item.category == "soft" %>
                      <li>
                        <%= image_tag item.icon %>
                        (<%= item.name %>)

                        <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css", method: :post do %>
                            <i class="fas fa-plus-circle"></i>
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
              </ul>
            </div>

        <div class="card category">
              <ul class="list-inline">
                <p class= "text-center"> Alcool </p>
                  <% @items.each do |item| %>
                    <% if item.category == "alcool" %>
                      <li>
                        <%= image_tag item.icon %>
                        (<%= item.name %>)

                        <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css", method: :post do %>
                            <i class="fas fa-plus-circle"></i>
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
              </ul>
            </div>


   <!--  <div class="col-xs-6 col-sm-6 col-md-6"> -->
      <div class="card category">
        <ul class="list-inline">
          <p class= "text-center"> Sélection : </p>
          <% @whishlists.each do |whishlist| %>
            <li>
              <%= link_to event_whishlist_path(whishlist.event.id, whishlist.id, sens: '-1' ), method: :patch, class: "quantity-css" do %>
                <i class="fas fa-minus"></i>
              <% end %>

              <%= image_tag whishlist.item.icon %>

              <%= link_to event_whishlist_path(whishlist.event_id, whishlist.id, sens: '1'), class: "quantity-css", method: :patch do %>
                  <i class="fas fa-plus"></i>
              <% end %>

              : <%= whishlist.quantity %>

              <%=link_to event_whishlist_path(whishlist.event_id, whishlist.id), method: :delete, data: { confirm: "Do you realy want to delete this item ?" } do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row btn-flex">
    <!-- <div class="col-xs-4">
      <%#= link_to "Valider", root_path, :class => "btn btn-primary" %>
      <%#= link_to "Modifier", "#my-modal", :class => "btn btn-primary", "data-toggle" => "modal" %>
      <div class="modal hide fade" id="my-modal" title="Valider">
        <div class="modal-header">
          <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
          <h3 id="myModalLabel">Modal header</h3>
        </div>
        <div class="modal-body">
          Modal Body
        </div>
        <div class="modal-footer">
          <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div> -->
    <div class="col-xs-4">
      <%= link_to "Valider",  event_select_guest_path, :class => "btn btn-primary" %>
    </div>
  </div>
</div>



<%#= link_to whishlist.item.name, event_whishlist_path(whishlist.event_id, whishlist.id), method: :put %>  <%#= whishlist.quantity %>
