<%= render layout: "shared/main_layout", locals: {
  main_title: "Qu'est-ce qu'on mange ?",
} do %><!-- <div class="container whishlist-container"> -->
  <!-- <div class="row card-container">
    <div class="col-xs-6 col-sm-6 col-md-6"> -->

      <div class="buttons-index">
        <div class="btn btn-primary btn-nav2 nav11">Salé</div>
        <div class="btn btn-primary btn-nav2 nav22">Sucré</div>
        <div class="btn btn-primary btn-nav2 nav33">Soft</div>
        <div class="btn btn-primary btn-nav2 nav44">Alcool</div>
      </div>

      <div class="slider-container slider-height-whishlist">
        <div class="slider2 sale">

          <div class="slide-food">
            <div class="card card-items category flex-wrap">
              <% @items.each do |item| %>
                <%= render 'select-item', category: "salé", event: @event, item: item, whishlists_per_item: @whishlists_per_item  %>
              <% end %>
            </div>
          </div>

          <div class="slide-food">
            <div class="card card-items category d-flex flex-wrap">
              <% @items.each do |item| %>
                <%= render 'select-item', category: "sucré", event: @event, item: item, whishlists_per_item: @whishlists_per_item  %>
              <% end %>

            </div>
          </div>

          <div class="slide-food">
            <div class="card card-items category d-flex flex-wrap">
              <% @items.each do |item| %>
                <%= render 'select-item', category: "soft", event: @event, item: item, whishlists_per_item: @whishlists_per_item  %>
              <% end %>

            </div>
          </div>

          <div class="slide-food">
            <div class="card card-items category d-flex flex-wrap">
              <% @items.each do |item| %>
                <%= render 'select-item', category: "alcool", event: @event, item: item, whishlists_per_item: @whishlists_per_item  %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

<!-- </div> -->

<% end %>
<!-- <div class="btn-flex w-100">
</div> -->
<div class="org-meal-wrapper">
  <%= link_to "Valider ton meal",  event_select_guest_path, :class => "btn btn-info mauve org-meal" %>
</div>

<%#= link_to whishlist.item.name, event_whishlist_path(whishlist.event_id, whishlist.id), method: :put %>  <%#= whishlist.quantity %>

