<!-- <div class="container whishlist-container"> -->
  <h2>Qu'est-ce qu'on mange ?</h2>
  <!-- <div class="row card-container">
    <div class="col-xs-6 col-sm-6 col-md-6"> -->

      <div class="buttons-index">
        <div class="btn btn-primary btn-nav2 nav11">Salé</div>
        <div class="btn btn-primary btn-nav2 nav22">Sucré</div>
        <div class="btn btn-primary btn-nav2 nav33">Soft</div>
        <div class="btn btn-primary btn-nav2 nav44">Alcool</div>
      </div>

      <div class="slider-container slider-height-whishlist">
        <div class="slider2 sale">

          <div class="slide-food">
            <div class="card category d-flex flex-wrap">
              <% @items.each do |item| %>
                  <% if item.category == "salé" %>
                    <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css text-center", method: :post, remote: true do %>
                      <%= image_tag item.icon %><br><%= item.name %>
                    <% end %>
                  <% end %>
              <% end %>
            </div>
          </div>

          <div class="slide-food">
            <div class="card category d-flex flex-wrap">
              <% @items.each do |item| %>
                <% if item.category == "sucré" %>
                    <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css text-center", method: :post, remote: true do %>
                      <%= image_tag item.icon %><br><%= item.name %>
                    <% end %>
                <% end %>
              <% end %>

            </div>
          </div>

          <div class="slide-food">
            <div class="card category d-flex flex-wrap">
              <% @items.each do |item| %>
                <% if item.category == "soft" %>
                  <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css text-center", method: :post, remote: true do %>
                    <%= image_tag item.icon %><br><%= item.name %>
                  <% end %>
                <% end %>
              <% end %>

            </div>
          </div>

          <div class="slide-food">
            <div class="card category d-flex flex-wrap">
              <% @items.each do |item| %>
                <% if item.category == "alcool" %>
                  <%= link_to event_whishlists_path(@event, item: item.id), class: "quantity-css text-center", method: :post, remote: true do %>
                    <%= image_tag item.icon %><br><%= item.name %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

      <div class="card category d-flex flex-wrap">
        <ul class="list-inline" id="basket-card">
          <p class= "text-center"> Sélection : </p>
          <% @whishlists.each do |whishlist| %>
            <li id="whishlist-item-id-<%= whishlist.id %>">
              <%= render 'button-basket', whishlist: whishlist %>
            </li>
          <% end %>
        </ul>
      </div>

    <div class="btn-flex w-100">
      <%= link_to "Valider",  event_select_guest_path, :class => "btn btn-primary" %>
    </div>
<!-- </div> -->



<%#= link_to whishlist.item.name, event_whishlist_path(whishlist.event_id, whishlist.id), method: :put %>  <%#= whishlist.quantity %>
